<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text-logo">EMRLD EARTH</h5>
        <p class="grey-text text-lighten-4">Keep track of your loving contributions to earth.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Developer</h5>
        <ul>
            <li>Tori-Ann Watkis</li>
            <li>toriwat328@gmail.com</li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/tori-ann-watkis/">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/toriwat328/emrld_earth">GitHub</a></li>
        </ul>
        <h5 class="white-text">Sources</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.curbed.com/2017/6/7/15749900/how-to-stop-climate-change-actions">Curbed Article</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www3.epa.gov/carbon-footprint-calculator/">Carbon Footprint Calculations</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright EMRLD EARTH
    </div>
  </div>
</footer>
