/* CARBON PAGE STYLING */

.brand-logo {
    font-weight: 900;
    text-shadow: 2px 2px 2px #ffb300;
}

.container{
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-weight: 100;
    text-shadow: 2px 2px 2px #ffb300;
}

fieldset {
    text-align: left;
    margin-bottom: 50px;
}

.carbon-footprint {
    background-color: #e0f2f1;
    padding: 20px;
    border: 10px solid #ffb300;
}

h4 {
    color: #ffb300;
    font-weight: 900;
}

.title {
    color:  #757575;
    font-weight: 500;
}

h5 {
    color: #26a69a;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.white-text-logo {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px #ffb300;
}

footer .row {
    text-align: left;
}
