body {
    background-color: #white;
}

h1 {
    color: #757575;
    font-weight: 900;
    text-shadow: 2px 2px 2px #ffb300;
}

main {
    padding-bottom: 50px;
}


footer {
    background-color: #e0f2f1;
}
