body {
    background-color: #26a69a;
    color: white;
}

input[type="text"]{
    color: black;
}

fieldset {
    background-color: #e0f2f1;
    color: black;
    font-weight: 200;
    border: 10px solid #ffb300;
}

h1, h5, h4 {
    text-align: center;
}

h1 {
    font-weight: 900;
}

h4, h5, p {
    font-weight: 200;
}

a {
    color: #ffb300;
    font-weight: 600;
}
