body {
    background-color: #ffb300;
    color: white;
}

input[type="text"]{
    color: black;
}

fieldset {
    background-color: #e0f2f1;
    color: black;
    font-weight: 200;
    border: 10px solid #26a69a;
}

h1, h5, h4 {
    text-align: center;
}

h1 {
    font-weight: 900;
    text-shadow: 2px 2px 2px #26a69a;
}

h4, h5, p {
    font-weight: 200;
}

a {
    color: #26a69a;
    font-weight: 600;
}

img {
    height: 350px;
    width: 630px;
    margin-top: 300px
}

div.col.s5.offset-s7 {
    margin-left: 120px;
}

@media (max-width: 1100px){
    div.col.s5.img {
        display: none;
    }

    div.row {
        display: flex;
        justify-content: center;
    }

div.col.s5.offset-s7 {
        width: 80%;
        text-align: center;
        margin-left: 10px;
    }

    }
