<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
    </head>
    <body>
        <h1>TODO INDEX</h1>
        <!-- if todo property is null, then have "Create a todo", else the todo properties will show -->





        <a href="/todo/new">Create New Todo Item</a>

    </body>
</html>
