<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/todo.css">
    </head>
    <body>
        <header>
            <nav>
            <div class="nav-wrapper amber darken-1">
              <a href="/main" class="brand-logo">EMRLD EARTH</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/earth/main">Tips</a></li>
                <li><a href="/todo">Reminders</a></li>
                <li><a href="/carbon">Calculator</a></li>
                <li><a href="/tracker">Tracker</a></li>
              </ul>
            </div>
          </nav>
        </header>

        <div class="container">
            <h1>CREATE NEW TODO</h1>
            <a class="link" href="/todo/">Back to Reminders</a>
            <form action="/todo" method="POST">
                <fieldset>
                    <label>Choose A Category</label>
                    <select class="browser-default"id="category" name="category">
                        <option value="" disabled selected>--Please choose a category--</option>
                        <option name="category" value="In Your Home">In Your Home</option>
                        <option name="category" value="On Your Table">On Your Table</option>
                        <option name="category" value="Along Your Commute">Along Your Commute</option>
                        <option name="category" value="In Your Neighborhood">In Your Neighborhood</option>
                    </select></br/>


                <label>Action:</label>
                <input type="text" name="action"/><br/>
                <label>Description:</label>  <input type="text" name="description"/><br/>

                    <label for="completed-check">
                        <input type="checkbox" id="completed-check" name="completed" />
                        <span>Completed</span>
                    </label><br/>

                <input class="waves-effect waves-light btn amber darken-1" type="submit" value="CREATE TODO">
                </fieldset>
            </form>
        </div>
        
    </body>
</html>
