<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
    <%  if(firstname) {  %>
            <h1>Hello, <%=firstname%>!</h1>
    <%    }  %>


        <a href="/earth">EMRLD EARTH</a><br/>
        <a href="/todo">TODO LIST</a><br/>
        <a href="/tracker">TRACKER</a><br/>
        <a href="/goals">GOALS</a><br/>


        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out">
        </form>

    </body>
</html>
