<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>EMRLD EARTH</title>
    </head>
    <body>
        <h1>LOG IN</h1>
        <div class="log-in">
            <form action="/sessions" method="POST">
                Username: <input type="text" name="username" /><br/>
                Password: <input type="password" name="password" /><br/>
                <input type="submit" value="Log In" /><br/>
            </form>
        </div>
        <a href="/">Back To Welcome Page</a>
    </body>
</html>
