<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>EMRLD EARTH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/sessions.css">
</head>
<body>

    <div class="row">
        <div class="col s6 offset-s3">
            <h1>LOG IN</h1>
            <div class="log-in">
                <form action="/sessions" method="POST">
                    <fieldset>
                        <p>USERNAME:</p> <input type="text" name="username" /><br/>
                        <p>PASSWORD:</p> <input type="password" name="password" /><br/>
                        <input class="waves-effect waves-light btn amber darken-1" type="submit" value="Log In" /><br/>
                    </fieldset>

                </form>
            </div>
            <a href="/">Back To Welcome Page</a>
        </div>
    </div>

</body>
</html>
